<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Go Simple Crud</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</head>
<body>
    <h1>Hello world</h1>
    <hr />
    <table id="users-list">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>action</th>
        </tr>
        {{ range.Users }} 
            {{ block "users-list-element" .}}
                <tr>   
                    <td>{{ .Id }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Age }}</td>
                    <td>
                        <button hx-post="/delete-user/" hx-trigger="click" hx-vals='{"id": {{.Id}}}'>Delete</button>
                    </td>
                </tr>
            {{ end  }}
        {{ end }}
    </table>
    
    <hr />
    
    <h1>Add User</h1>
    <form
      hx-post="/add-user/"
      hx-target="#users-list"
      hx-swap="beforeend"
      hx-indicator="#add-user-loader"
    >
      <input type="text" name="user-name" id="user-name">
      <input type="number" min="0" max="300" name="user-age" id="user-age">

      <button type="submit">
        Add
      </button>
      <span id="add-user-loader" class="htmx-indicator">Adding todo...</span>
    </form>

</body>
</html>